.container {
  padding: 10px;
}

.heading {
  font-family: cursive;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.heading span {
  color: red;
}

.heading span.highlight {
  color: white;
}

/* Media Queries for responsiveness */
@media (max-width: 600px) {
  .heading {
    font-size: 24px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .heading {
    font-size: 36px;
  }
}

@media (min-width: 901px) {
  .heading {
    font-size: 48px;
  }
}
